var env = process.env.NODE_ENV || 'development';

var config = {
    development: {
        dbconfig: {
            db: 'mongodb://localhost/node_joinNow_development',
        },
        hashScrect: {
            pwd: ''
        }
    },

    test: {
        dbconfig: {
            db: 'mongodb://localhost/node_joinNow_test',
        },
        hashScrect: {
            pwd: ''
        }
    },

    production: {
        dbconfig: {
            db: 'mongodb://localhost/node_joinNow_production',
        },
        hashScrect: {
            pwd: ''
        }
    }
};

module.exports = config[env];
