<form action="" method="post">

    {{#if errorMessage}}
        登入錯誤 {{errorMessage}}.
    {{/if}}

    <label for="signin-email">Email</label>
    <input type="text" id="signin-email" name="email" />


    <label for="signin-password">Password</label>
    <input type="password" id="signin-password" name="password" />

    <input type="submit"/>
</form>